<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Showroom</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/blog-home.css')}}" rel="stylesheet">
</head>
<body>
{% if search is not defined %}
    {% set search = "" %}
{% endif %}
{# {%  include "_includes/menu.html.twig" %} #}

{%  embed "_includes/menu.html.twig" %}
    {% block menu_title %}
        Parcequ'il fait trop {{ parent() }} pour travailler - {% if app.environment != 'prod' %}Surtout pour les {{ app.environment }}s{% endif %}
    {% endblock %}
{% endembed %}


{%  for label, messages in app.flashes %}
<div class="alert alert-{{ label }}" role="alert">
    {%  for message in messages %}
        {{ message }}
    {%  endfor %}
</div>
{% endfor %}


<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">{% block pageHeading %}
                    Page Heading
                    <small>Secondary Text</small>
                {% endblock %}
            </h1>
            {% block content%}{% endblock content %}
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Chercher une série</h5>
                <div class="card-body">


                    <form action="{{ path('show_search') }}" method="POST">
                        <div class="input-group">
                            <input type="text" id="category_name" name="query" class="form-control" value="{{ search }}" placeholder="Rechercher...">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-secondary" value="Go!">
                            </span>
                        </div>
                    </form>



                </div>
            </div>


            {{ render(controller("AppBundle\\Controller\\ShowController::categoriesAction")) }}

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- Bootstrap core JavaScript -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
</footer>
</body>
<script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</html>

<script
        src="http://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<script>

    var r,g,b;
    var ri,gi,bi;
    r = 125;
    g = 125;
    b = 125;
    ri = true;
    gi = true;
    bi = true;
    setInterval(function(){
        if (ri){
            r++;
            if (r>=255)
                ri=false;
        }else{
            r--;
            if(r<=125)
                ri = true;
        }
    },25);
    setInterval(function(){
        if (gi){
            g++;
            if (g>=255)
                gi=false;
        }else{
            g--;
            if(g<=125)
                gi = true;
        }
    },24);
    setInterval(function(){
        if (bi){
            b++;
            if (b>=255)
                bi=false;
        }else{
            b--;
            if(b<=125)
                bi = true;
        }
    },23);
    setInterval(function(){
        $("body").css("background-color","rgb("+r+","+g+","+b+")");
    },25);


    var navbaropen;
    navbaropen = true;
    setInterval(function(){
        if (navbaropen){
            $(".navbar").animate({
                paddingTop:"+0vh"
            },1000);
            $("body").animate({
                paddingTop:"+3vh"
            },1000);
            navbaropen = false;
        }else{
            $(".navbar").animate({
                paddingTop:"+1vh"
            },1000);
            $("body").animate({
                paddingTop:"+4.5vh"
            },1000);
            navbaropen = true;
        }
    },1000);


</script>