{% extends "show/base.html.twig" %}

{% block content %}

    <!-- Blog Post -->

    {% for index, show in shows %}
    <div class="card mb-4">
        <img class="card-img-top" src="/upload/{{ show.getMainPicture() }}" alt="Card image cap">
        <div class="card-body">
            <a href="/update/{{ show.getId() }}" class="btn btn-primary" style="float:right;"><h2 class="card-title">{{ show.getName() }}</h2></a>
            <p class="card-text">{{ show.getAbstract() }}</p>
        </div>
        <div class="card-footer text-muted">
            Créé par {{ show.getAuthor() }} le {{ show.getReleasedDate().format("d/m/Y") }}
            <a href="#">Start Bootstrap</a>
        </div>
    </div>
    {% endfor %}



    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Récent</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Vieux &rarr;</a>
        </li>
    </ul>

{% endblock %}